---
title: Nosotros
description: Equipo de profesionales de EurekaTOC.
image: /images/team.jpg
---

<section class="hero-header" style="background-image: url({% include relative-src.html src=page.image %})">
		<div class="inner-hero text-container">
				<div class="hero-text-container">
					<h1 class="editable">Nosotros</h1>
					<!--p class="subtext editable">Comuníquese con nosotros, completando nuestro el formulario que se encuentra más abajo.</p-->
				</div>
			</div>
</section>

<section class="pad">
	<div class="container">
		<p class="editable">​El equipo de <span style="font-weight:bold">EurekaTOC</span> se compone de profesionales con más de 50 años de experiencia
			combinada entre distintos y diversos backgrounds. Estos incluyen Ingeniería de procesos, Capacitación
			en manejo de plataformas, Ingeniería en sistemas, manejo de equipos de ventas,
			planificación de marketing, liderazgo, estrategias financieras, estrategias de management.
		<br/>
			Tenemos un profundo conocimiento de las problemáticas profesionales actuales y
los desafíos que se plantean a futuro. A través de nuestras conferencias ofrecemos a nuestros clientes 
disparadores para generar resultados diferentes.
		</p>
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name" style="font-weight: bold">{{ person.name }}</div>				
					<div style="font-size: 0.8em;line-height: 1.8em;">{{ person.blurb }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
