---
title: Pensar sin límites
description: Cuestionamos y desafiamos lo cotidiano a través de la motivación. Impulsamos el constante cambio desarrollando una nueva perspectiva de análisis a través de nuestras exposiciones.
image: /images/landing.jpg
bottom_image: /images/landing-footer.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable" id="landing-title" style="display: none;">Pensar sin límites</h1>
			<p class="subtext editable" id="landing-content" style="display: none;">
				Cuestionamos y desafiamos lo cotidiano a través de la motivación. Impulsamos el constante cambio desarrollando una nueva perspectiva de análisis a través de nuestras exposiciones.
			</p>
			<!--div class="cta button alt"><a href="#">Join Now</a></div-->
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Leer más <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<!--section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h3 class="editable">Equipos comerciales</h3>
				<p class="editable">Emprendedores, Motivadores en constante cambio y en busca de la mejora continua.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h3 class="editable">Trabajo en equipo</h3>
				<p class="editable">Colaborar con el desarrollo de un pensamiento motivador en busqueda de la mejora constante y el cambio para el desarrollo de una perspectiva diferente.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section-->

	<section class="pad" id="learn-more">
			<div class="container">			
				<p class="subtext editable">
					Somos <strong>conferencistas</strong>, compartimos nuestros conocimientos entendiendo que todos somos diferentes y que existe un tipo de mensaje para cada persona. 
				</br>
					Nos especializamos en <strong>conferencias</strong> de team building, motivación y liderazo para empresas.
					</p>
				<ul class="diamond">
					{% for person in site.talks %}
						<li>
							<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>												
							<div class="name" style="font-weight: bold;">{{ person.name }}</a></div>					
							<div class="position" style="font-style: italic;">
								<span style="font-weight: bold;font-size: 1.3em;">¿ </span>
									{{ person.blurb }}
								<span style="font-weight: bold;font-size: 1.3em;"> ?</span></div>
						</li>
					{% endfor %}
				</ul>
				<p class="editable">Nuestras <strong>actividades</strong> tienen como principal objetivo impulsar cambios para el desarrollo desde
						una perspectiva diferente. </p>
			</div>
	</section>

	<section class="hero-footer" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<p class="subtext editable" id="landing-content">
					Agende con nosotros la primer conferencia bonificada <a href="mailto:info@eurekatoc.com">info@eurekatoc.com</a>
					</p>
					
				<div class="cta button alt"><a href="./contact/">Contáctenos</a></div>
			</div>
		</div>
	</section>
</div>
